body, html {
    margin: 0 0 00 ;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/3588999/pexels-photo-3588999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

/* Add styles to the form container */
.container {
  position: absolute;
  top: 40%;
  max-width: 400px;
  padding: 36px;
  background-color: white;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
