<!DOCTYPE html>
<html>
<head>
    <title>Your Music Taste! ❤️</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/jpg" href="./Public/assets/favicon.jpg"/>

    <link rel="stylesheet" type="text/css" href="./Public/css/Landing.css">
</head>
<body>

<div class="bg-img">
  <form action="/auth/login" method="get" class="container">
    <h1>Login With Spotify!</h1>
    <button type="submit" class="btn">Login</button>
  </form>
</div>

</body>
</html>
